.nav-link {
  /* Set default styles for the navigation link */
  padding: 10px;
  padding-left: 60px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s; /* Add smooth transition for a better user experience */
}

.nav-link:hover {
  /* Define styles for the hover state */
  background-color: #f0f0f0; /* Change this color to your desired hover color */
}

/* NavBar.css */

.container {
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.nav-link {
  flex-grow: 1;
  text-align: center;
}

.navbar-toggler-icon {
  order: -1; /* Move the toggle icon to the left */
}

/* NavBar.css */
.navBarS {
  background-image: url('p13.avif'); /* Replace 'path_to_your_image.jpg' with the path to your image */
  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-position: center; /* Center the image */
  color: white;
}

/* Add any additional styling here */
