body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.content {
	text-align: center;
}
.logo img {
    width: 100px;
}

.land{
    background-image: url('b2.jpg');
    background-size: cover;
	background-position: center;
    height: 100vh;
    width: 100%;
	display: flex;
  justify-content: center;
    align-items: center;
}


.hero {
  background-image: url('b2.jpg');
  background-size: cover;
  height: 60vh;

    background-color: #f0f0f0;
    padding: 50px;
    text-align: center;
}

.hero h1 {
    margin-bottom: 20px;
}

.btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 5px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
    .nav-links {
      display: none;
    }
    .burger {
      display: block;
    }
    .burger.active {
      transform: rotate(45deg);
    }
    .nav-links.active {
      display: block;
    }
  }

  form {
    width: 500px;
    height: 40vh;
    background-color: #fffdf5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.loginbody {
  font-family: Arial, sans-serif;
  background-image: url('b2.jpg');
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginlabel {
  display: block;
  margin-bottom: 12px;
  color: #111111;
}

.main-heading{
font-size: 36px;
font-family: "bold";
padding-top: 50px;
color: rgb(209, 145, 18);
}

.underline{
  background-color: #c04210;
  width: 6rem;
  height: 04px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.bg-c-light{
  background-color: #f2f2f2;
}